*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing:border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
}

a img{
	border: medium none;
    display: block;
    margin: 2px auto;
    position: relative;
    text-align: center;
    width: 98%;
}

body{
	background: url("../images/bg.png");
	background: url("../images/bg.png");
	min-width: 280px;
}
.clearfix{
	clear: both;
}

.container{
	width: 73.7%;
	margin: 30px auto;
	height: auto;
	max-width: 1100px;
	min-width: 280px;
	box-shadow:0 4px 10px rgba(0,0,0,0.5);
	position: relative;
	background-color: white;
	border-radius: 4px;
	behavior: url("pie/PIE.htc");
}
.nav{
	height: 100%;
}
.nav ul{
	width: 459px;
	margin: 2px auto;
}
.nav  ul li{
	float: left;
}
.nav  ul.right> li{
	margin: 3px 6px;
}
.nav  ul  li a{
	background-image: url("../images/nav-bg.png");
	background-size: 100% 100%;
    color: #616369;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    height: 50px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    width: 141px;
    font: Helvetica,Arial,sans-serif;
    -webkit-transition: top 1s ease-out 0.5s;
    -moz-transition: top 1s ease-out 0.5s;
    -o-transition: top 1s ease-out 0.5s;
    transition: top 1s ease-out 0.5s;
    -moz-box-shadow: 1px 1px 2px 1px #cccccc;
    -webkit-box-shadow: 1px 1px 2px 1px #cccccc;
    box-shadow: 1px 2px 2px 1px #cccccc;
}


.nav  ul  li a:hover{
	background: url("../images/nav-hover.png");
	background-image: url("../images/nav-hover.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 4px;
	transition: top 1s ease-out 0.5s;
	-webkit-transition: top 1s ease-out 0.5s;
    -moz-transition: top 1s ease-out 0.5s;
    -o-transition: top 1s ease-out 0.5s;
	position: relative;
	-ms-behavior: url("background/backgroundsize.min.htc"); 
}
.logo{
	display: block;
    height: 114px;
    margin: auto;
    width: 122px;
}
.about{
	background-image: url("../images/inner-header.jpg");
    background-size: 100% 100%;
    border-radius: 3px;
    height: 180px;
    margin: 0 0 0 -6px;
    padding: 1px;
    width: 101%;
    position: relative;
    -ms-behavior: url("background/backgroundsize.min.htc");
}
.menu{
	padding: 3%;
	width: auto;
}
.about h3{
	color: #f2f0eb;
    font: 38px Georgia,serif;
    letter-spacing: 2px;
    text-shadow: 0 3px 3px #494949;
    margin: 54px 0 20px;
    text-align: center;
    font-size: 1.6em;
}

.works{
	width: 100%;
	background-color: #ffffff;
	height: auto;
}
.about p{
	position: relative;
	font-size: 1.4em;
	color: #636363;
	font-family: Helvetica,Arial,sans-serif;
	padding: 36px 27px 16px;
	text-align: center;
	color: #525252;
	background-color: white;
	width: 50%;
	margin:1px auto;
	background-size: 200% 200%;
	z-index: 0;
	zoom:1;
	border-radius: 160px 160px 0 0;
	-webkit-border-radius:4px;
	-moz-border-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 70% 91px;
	border-top-left-radius: 70% 91px;
	-webkit-border-top-right-radius: 70% 91px;
	-webkit-border-top-left-radius: 70% 91px;
	-o-border-top-right-radius: 70% 91px;
	-o-border-top-left-radius: 70% 91px;
	-moz-border-top-right-radius: 70% 91px;
	-moz-border-top-left-radius: 70% 91px;
	-khtml-moz-border-top-left-radius: 70% 91px;
	behavior: url("pie/PIE.htc");
	/*box-shadow: -6px -7px 1px 0 #3c3c3c;*/
}
.work{
	width: 100%;
	background-color: #ffffff;
	height: auto;
}
.work-example{
	width: 28%;
	float: left;
	height: auto;
	margin: 2%;
	min-width: 190px;
	padding: 2px;
	background-color: #eee;
	border: 1px solid #c3c3c3;
}
.work-example a:last-child{
	background-image: url('../images/see-more-bg.png');
	background-size: 100% 100%;
	display: block;
    font-weight: bold;
    height: 44px;
    padding: 12px 0;
    text-align: center !important;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    color: #a12121;
     -ms-behavior: url("background/backgroundsize.min.htc");
}
.last-child{
	color: #a12121;
}
.work-example a:last-child:hover{
	background: #c3c3c3;
	border-radius: 7px;
}
.work-example:hover{
	background: #c3c3c3;
}
.work-example img{
	width: 99%;
	min-width: 190px;
}
.wrap{
	width: 100%;
	background-color: #F5F5F5;
	padding: 60px 0 0;
}
.main{
	width: 100%;
}
.col-right, .col-left{
	width: 50%;
	float: left;
	background: none repeat scroll 0 0 #e7e7e7;
    border: 35px solid white;
    box-shadow: 1px -3px 8px 2px #6f6f6f inset;
    -moz-box-shadow: 1px -3px 8px 2px #6f6f6f inset;
    -o-box-shadow: 1px -3px 8px 2px #6f6f6f inset;
    -webkit-box-shadow: 1px -3px 8px 2px #6f6f6f inset;
    position: relative;
    padding: 10px 20px;
    zoom:1;
    behavior: url("pie/PIE.htc");
}
.main textarea{
	background: -moz-linear-gradient(center top , #606268 0%, #73767c 20%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(center top , #606268 0%, #73767c 20%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(center top , #606268 0%, #73767c 20%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -ms-linear-gradient(center top , #606268 0%, #73767c 20%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(center top , #606268 0%, #73767c 20%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: #73767c;
	background: -moz-linear-gradient(top, #606268 0%, #73767c 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606268), color-stop(20%,#73767c)); /* webkit */
    border-radius: 5px;
    color: #f2f2f2;
    font-family: sans-serif;
    font-size: 16px;
    height: 170px;
    margin: 0 0 20px;
    padding: 12px 20px 0;
    text-shadow: 0 -1px 0 #334f71;
    -moz-box-shadow:0 -1px 0 #334f71; 
    -o-box-shadow: 0 -1px 0 #334f71;
    -webkit-box-shadow:0 -1px 0 #334f71;
    width: 256px; 
}
.main input[type="submit"] {
	background: -moz-linear-gradient(center top , #73767c 0%, #5c5f63 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-linear-gradient(center top , #73767c 0%, #5c5f63 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #52555c;
    cursor: pointer;
    height: 52px;
    padding: 10px 15px;
    width: 185px;
}
.main label{
	font-size: 16px;
    margin: 11px 20px 0 0;
    text-align: right;
    text-transform: uppercase;
    width: 95px;
    vertical-align: top;
    color: #636363;
    font:  Helvetica,Arial,sans-serif;
}
.main input{
	background: -moz-linear-gradient(center top , #606268 0%, #73767c 20%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: #73767c;
	background: -moz-linear-gradient(top, #606268 0%, #73767c 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606268), color-stop(20%,#73767c)); /* webkit */
    border-radius: 5px;
    color: #f2f2f2;
    font-family: sans-serif;
    font-size: 16px;
    height: 35px;
    margin: 0 0 20px;
    padding: 5px 20px 0;
    text-shadow: 0 -1px 0 #525558;
    width: 256px;
}
   .main label{
    font-size: 16px;
    margin: 15px 37px 0 1%;
    text-align: right;
    text-transform: uppercase;
    width: 95px;
}

label[for="input3"]{
	 margin: 15px 13px 0 1%;
}
.forma{
    width: 254px;
    margin: 1px auto;
}

.main p:first-child{
	color: #383838;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    margin: 73px 0 86px;
    text-align: center;
}
.col-right p, .main-text p{
	margin: 0 67px 0 0;
	color: #636363;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.col-right h2{
	font-family: Georgia,serif;
    letter-spacing: 2px;
    margin: 0 0 20px;
    color: #636363;
    font-size: 25px;
}
.col-right li a{
	background-image: url("../images/icon.png");
	width: 44px; 
	height: 45px; 
	display: block;
	padding: 5px 0 5px 45px;
	color: #a12121;
}
li a.youtube{
	background-position: 0 -108px; 
}
li a.facebook{
	background-position: 1px 0; 
}
li a.vk{
	background-position: 2px -162px; 
}
li a.google{
	background-position: 0 -54px; 
}
.col-right li{
	float: left;
    margin: 4% 2%;
    width: 148px;
}
.main-content{
	width: 100%;
	background: #ffffff;
	height: auto;
	padding: 8%;

}
.main-content p{
	margin: 4% 5%;
	color: #636363;
	font-family: Helvetica,Arial,sans-serif;
	line-height: 1.4em;
	font-size: 0.9em;
}
.main-content img{
	float: right;
	width: 27%;
	margin: 3%;
	-webkit-transform: rotate(6deg);
	-moz-transform: rotate(6deg);
	-o-transform: rotate(6deg);
	transform: rotate(6deg);
	max-width: 200px;
}
.main-text{
	padding: 4% 4% 0;
}
.main-text h2{
	font-family: Georgia,serif;
    letter-spacing: 1px;
    margin: 0 0 20px;
    font-size:20px;
    color: #636363;
}
p.mrg{
	margin:4% 0;
}
#phone{
	clear: both;
	margin: 10px 0;
	padding: 0 0 78px 8px;
}
#phone p{
	margin: 20px 0;
	font-family: Helvetica,Arial,sans-serif;
	line-height: 12px;
	text-align: left;
}

@media only screen and (max-width:1200px) {
  .container{
  	width: 100%;
  }
}

@media only screen and (max-width:900px) {
	.nav  ul.right> li{
		float: left;
	}
	.menu{
		height: auto;
		width: 100%;
	}
	

	.about{
		height: 180px;
	}

	.about p{
		width: 100%;
		box-shadow: 0 0 0 0;
	}
	.col-right, .col-left{
		width: 100%;
		float: none;
	}
	.col-right{
		margin: 3px auto;
	}
	.col-right h2, .col-right p{
		text-align: center;
		margin: 10px 0;
	}
	.main-text{
		margin: 5% 0;
	}
	.main p:first-child {
		margin: 80px 0 40px;
	}
	.col-right ul{
		margin: 3px auto;
	}
	.col-right li{
		float: none;
		width: 119px;
		margin: 3px auto;
	}
	#phone p{
		text-align: center;
	}
}

@media only screen and (max-width:700px) {
	.work-example{
		width: 45%;	
	}
	.nav ul li {
	    float: left;
	    margin: 6px 2px 1px 2px;
	}
	.main-content img{
		float: none;
		width: 70%;
		margin: 3px auto;
		display: block;
	}
	.main, .main-content{
		margin: 18% 0;
	}
	.main label{
		text-align: left;
		display: block;
	}
	.main input[type="submit"] {
		margin: 0 0 20px 63px;
	}
	.nav ul{
		width: 159px;
	}
	.main-content img{
		transform: rotate(0deg);
		max-width: 200px;
	}
	.main, .main-content {
    margin: 0;
}
}
@media only screen and (max-width:500px) {
	.col-right{
		width: 100%;
	}
	.col-right,.col-left{
		border:none;
	}
	.col-right li {
	    width: 119px;
	}
	.col-right p{text-align: center;}
	.main-text{
		margin: 27% 0 4%;
		text-align: center;
	}
	.nav ul{
		width: 159px;
	}	
	.main, .main-content {
    margin: 18% 0;
}
}

@media only screen and (max-width:480px) {
	.menu {
	    padding: 3px 2%;
	}
	.logo {
	    left: 35%;
	    top: 1px;
	}
	.work-example{
		margin: 4% auto;
		float: none;
		width: 90%;
	}
	.nav ul li a {
    
    font-size: 1em;
	}
	.about h3 {
		font-size: 1.3em;
	}
	.about p{
		width: 80%;
		margin: 1px auto;
		box-shadow: 0 0  0 0;
	}
	.main-content img{
		float: none;
		width: 100%;
		margin: 3px auto;
		display: block;
	}
	.main, .main-content {
    margin: 75px 0;
}	
}

@media only screen and (max-width:380px) {
		.logo{
			left: 25%;
		}
	
}