*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing:border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
    -webkit-box-sizing: border-box; /* Safari */
    font-size: 13px;
}
a img{
	border: medium none;
}
.clearfix{
	clear: both;
}

.main-container{
	max-width: 1100px;
	width:1100px;
	margin: 0px auto;
}
.container{
	width: 850px;
	max-width: 850px;
	min-width: 850px;
	margin: 1px auto;
	padding: 1px;

}
.header{
	background:#ffffff;
}
.header-inside1, .header-inside2{
    float: left;
    margin: 30px 27px 0 24px;
    text-align: center;
    width: 254px;
}

.header-inside2 p {
    font-size: 1.4em;
    margin: 0 0 12px;
    text-align: right;
    font-weight: bold;
}
.header-inside2 span{
	color:00a9eb;
	font-size: 0.8em;
}
.header-inside2 a{
	border: 2px solid #00a9eb;
    color: #00a9eb;
    margin: 20px -1px 0 131px;
    padding: 5px 6px;
}
.header-inside2 a:after{
	content: " \25bc";
}
.header-inside1{
	text-align: left;
}
.header img{
	width:165px;
	float: left;
	margin: 30px 0 0;
}
.header-inside1 p{
	color: gray;
	font-size: 0.9em;

}
.header-inside1 p:first-child{
	color: black;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: bold;
}
.main-content-top{
	height: 420px;
    margin-left: -5px;
    margin-top: 40px;
    overflow: hidden;
    width: 1100px;
    max-width: 1100px;
    -ms-behavior: url(js/backgroundsize.min.htc);
}
.main-content-top .inner-div{
    background: url("../images/background.png") ;
    background-repeat: no-repeat;
    background-position:458px ;
    border: 1px solid #00a9eb;
   width: 219%;
    margin-left: -30px;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
    height: 393px;
    position: relative;
    -ms-behavior: url(js/backgroundsize.min.htc);

}
.main-content-top .inner-div img{
	-moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
	 transform: rotate(1deg);
	 margin: 31px 0 0 160px;
}
.absolute1{
	left: 181px;
    position: absolute;
    top: 11px;
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
    width: 374px;
}
.absolute1 p, .triangle1 p{
    color:black;
	font-size: 2.1em;
	font-size: 2em;
    line-height: 0.9em;
}
.absolute1 h3, .triangle1 h3{
    color:#00a9eb;
	font-size: 2.6em;
	padding: 3px;
	line-height: 0.9em;
}
.absolute2{
	left: 577px;
    position: absolute;
    top: 125px;
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
    width: 166px;
}
.absolute2 p{
	font-size: 1.4em;
	font-weight: bold;
}
.absolute3{
	left: 225px;
    position: absolute;
    top: 152px;
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
	 transform: rotate(1deg);
    width: 203px;
}
.absolute3 h2{
	color:#00a9eb;
	text-align: center;
	font-size: 1.3em;
    line-height: 1em;
}

.absolute3 input{
	border: 1px solid #00a9eb;
    display: block;
    height: 30px;
    margin: 12px 0 0 22px;
    padding: 2px 0 0 18px;
    width: 165px;
}
.absolute3 input[type="submit"]{
	background-color: #00a9eb;
    color: white;
    height: 28px;
    line-height: 5px;
    padding: 6px 46px 7px;

}
.content2{
	width: 1100px;
	max-width: 1100px;
	min-width: 1100px;
	overflow: hidden;
}
.triangle1{
	background-image: url("../images/triangle-new1.png");
    height: 89px;
    margin: 2px auto;
    width: 273px;
}
.special{
   background-position: -8px -11px;
}
.triangle1 p,.triangle1 h3 {
	font-size: 1.6em;
}
.triangle-icons{
	width: 800px;
	height: 430px;
	background-image: url("../images/triangle.png");
	background-size: contain;
	background-repeat: no-repeat;
	margin: 40px auto 0;

	-ms-behavior: url(js/backgroundsize.min.htc);

	/*background-image: url("../images/triangle.png");
	background-size: contain;
	background-repeat: no-repeat;*/
	/*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/triangle.png', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/triangle.png', sizingMethod='scale')";*/
}

#triangle-icons1 {
	height: 200px;
	padding-top: 57px;
}

#triangle-icons2 {
	height: 150px;
	padding-top: 33px;
}



.icon-container{
	width: 150px;
	height: 100px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

#icon-container1{
	margin: 0 0 0 32px;
}

#icon-container2{
	margin: 0 0 0 147px;
}

#icon-container3{
	margin: 0 0 0 148px;
}

#icon-container4{
	margin: 0 0 0 182px;
}

#icon-container5{
	margin: 0 0 0 146px;
}
.inner-div2{
	border: 1px solid #efefef;
    height: 550px;
    margin-left: -30px;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
    width: 104%;
    background:#eeeeee;
    margin: 0 0 50px -30px;
    position: relative;
}
.inner{
    height: 74px;
    margin: 40px auto 0;
    width: 800px;
}
.inner div:first-child{
	background-image: url("../images/triangle2.png");
	background-repeat: no-repeat;
    background-size: contain;
    height: 89px;
    margin: 2px auto;
    width: 273px;
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
	 transform: rotate(1deg);
   transform: rotate(1deg);
   padding: 1px;
}
.inner div:first-child p{
	color: black;
    font-size: 2.8em;
    margin: 14px -3px;
}
.count{
	width: 264px;
	-moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
	 transform: rotate(1deg);
	transform: rotate(1deg);
	margin: 60px 111px;
    margin: 60px 100px 0 215px;
	overflow: hidden;
	float: left;
	position: relative;
}
.count select{
	background:url('../images/arrow-select.png');
	background-repeat: no-repeat;
	background-position: 240px 11px;
	border: 1px solid #00a9eb;
	height: 40px;
	width: 286px;
	padding: 10px 0 10px 0;
}
.count option{
	width: 186px
}

.count option{
	width: 186px
}
.count img{
	top: 13px;
    left: 241px;
    position: absolute;
}
.count h1{
	width: 270px;
	border-left:2px solid #c2d7e5;
	margin: 10px 4px;
	padding: 9px;
}
.count p{
	color: black;
	font-size: 1.5em;
}
.count p:first-child{
	color: #00a9eb;
}
.count input, #column2-input{
	background-color: #00a9eb;
    color: white;
    height: 40px;
    line-height: 5px;
    padding: 6px 46px 7px;
    display: block;
  	text-transform: uppercase;
    width: 270px;
    border-radius: 3px;
    margin: 20px 0;
}
.slide{
	width: 316px;
	float: left;
	height: 400px;
	-moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
	 transform: rotate(1deg);
	margin: 48px 40px;
}
.slide-line{
	margin: 0 25px;
}
.slide-line a{
	padding: 8px 11px;
	background-color: #00a9eb;
	color: #ffffff;
	border-radius: 4px;
	margin: 3px;
}
#slider-wrapper {
	width:242px;
	height:200px;
}
#slider {
	border: 18px solid #ffffff;
    border-radius: 9px;
    height: 237px;
    margin: 0 30px;
    position: relative;
    width: 279px;

}
.sp {
	width:242px;
	height:200px;
	position:absolute;}


#nav {
	margin-top:20px;
	width:100%;}
#button-previous {
	position: absolute;
    top: 99px;}
#button-next {
	position: absolute;
    right: -42px;
    top: 99px;
}
.sp{
	background-image: url("../images/slide-image.png");
}
.slider-container > img{
	position: absolute;
    right: -6px;
    top: 102px;
}
.slide-next{
	margin: 41px 92px;
    margin: 41px 0 0 167px;
}


#slider0 {
    border: 18px solid #ffffff;
    border-radius: 9px;
    height: 237px;
    margin: 0 30px;
    position: relative;
    width: 279px;

}
.sp0 {
    width:242px;
    height:200px;
    position:absolute;}


#nav0 {
    margin-top:20px;
    width:100%;}
#button-previous0 {
    position: absolute;
    top: 99px;}
#button-next0 {
    position: absolute;
    right: -42px;
    top: 99px;
}
.sp0{
    background-image: url("../images/slide-image.png");
}
.slider-container0 > img{
    position: absolute;
    right: -6px;
    top: 102px;
}
#slide-next0{
    margin: 41px 92px;
}
.content3 > img{
	display: block;
	margin: 35px auto;
}
.content3{
	overflow: hidden;
}
.column1, .column2{
	width: 300px;
	float: left;
	margin: 0 20px;

	position: relative;

}
.box1,.box2{
	width: 250px;
	height: 90px;
	position: relative;
	background-image: url("../images/triangle-transparent.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 22px 0 0 22px;
	margin: 22px 0;
	-ms-behavior: url(js/backgroundsize.min.htc);

}
.box1 img,.box2 img{
	position: absolute;
	right: 235px;
}
.box2 img{
	position: absolute;

}
.box1 h1,.box2 h1{
	color: #00a9eb;
	text-transform: uppercase;
	font-size: 1em;
}
.column-wraper{
	width: 700px;
	margin: 30px auto;
    margin: 30px 0 65px 223px;
}
.place-map {
	background-image: url("../images/map-logo.png");
    background-size: 100% 100%;
    height: 118px;
    left: 422px;
    position: absolute;
    top: 30px;
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotate(1deg);
    width: 282px;
    text-shadow: 1px 6px 1px black;
    	-ms-behavior: url(js/backgroundsize.min.htc);

}

.place-map p{

	background: transparent;
	color: white;
	font-size: 1.7em;
	font-weight: bold;

}
.place-map h1{
	color: white;
	font-size: 2em;
}
.place-map h2{
	color: white;
	font-size: 1.8em;
}

.map-list{
	width: 370px;
	height: 433px;
	background-image: url("../images/map-list2.png");
	position: absolute;
	background-size: 97% 100%;
	position: absolute;
	right: 400px;
	-moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
	transform: rotate(1deg);
	top: 178px;
	padding: 30px 43px;
    background-position: 9px 0;
    background-repeat: no-repeat;
    	-ms-behavior: url(js/backgroundsize.min.htc);
}
.map-list p{
	text-align: center;
	margin: 3px 6px 13px 3px;
	font-size: 1.1em;
	-moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
	 transform: rotate(0deg);
}
.map-list h1{
	font-size: 1.7em;
	text-align: center;
}
.inner-div3{
	height: 202px;
	border-bottom: 1px solid #cccccc;
	position: relative;
    margin: 2px auto;
	-moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
    padding: 1px;
    margin: 0 0 40px 0;
}
.map-list img{
	display: block;
	margin: 1px auto;
}
.map-list a{
	color: #00a9eb;
	text-decoration: none;
	text-align: center;
	 transform: rotate(-1deg);
	 margin: 82px;
}
.inner-div4{
	border-bottom: 1px solid #00a9eb;
	background-repeat: no-repeat;
    background-position:458px ;
   width: 219%;
    margin-left: -30px;
    -moz-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    transform: rotate(-1deg);
    height: 600px;
    border-bottom: 1px solid #00a9eb;
    position: relative;
}
.content-slide{
	width: 800px;
	margin: 60px auto;
}
.slide1, .slide2{
	width: 400px;
	float: left;
}
.slide1{
	height: 400px;
}
#slider-wrapper2 {
	width:242px; height:250px;
}
#slider2 {
	background: url("../images/border-slide.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    height: 207px;
    margin: 0 30px;
    position: relative;
    width: 249px;
}
.sp2 {
	background: url("../images/log.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
    height: 200px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 242px;
    -ms-behavior: url(js/backgroundsize.min.htc);
}

#nav2 {
	margin-top:20px;
	width:100%;
}
#button-previous2 {
	bottom: -2px;
    position: absolute;
    right: 65px;
}
#button-next2 {
	bottom: -2px;
    position: absolute;
    right: 20px;
}
#button-next2 + img{
    bottom: 2px;
    height: 26px;
    left: 29px;
    position: absolute;
    width: 164px;
}
.slide2{
	 -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform:rotate(1deg);
	 transform: rotate(1deg);
}

.box3,.box4{
	width: 250px;
	height: 154px;
	background-image: url("../images/triangle-large.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 22px 0 0 22px;
	margin: 22px 0;
	position: relative;
	-ms-behavior: url(js/backgroundsize.min.htc);

}
.box3 img,.box4 img{
	position: absolute;
	right: 237px;
}
.box4 img{
	position: absolute;

}
.box3 h1,.box4 h1{
	color: #00a9eb;
	text-transform: uppercase;
	font-size: 1em;
}
.inner-5{
	height: 350px;
	width: 100%;
	background-size: 100% 100%;
	background-position: 0 0;
	 -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
	 transform: rotate(0deg);
	 border: none;
}
.inner-5 img{
	width: 100%;
	height: 100%;
	-moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.inner-5 > div{
	left: 413px;
    position: absolute;
    top: 34px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    background-image: url("../images/triangle-new1.png");

}
.inner-5 > div p{
	color: #ffffff;
	font-size: 1.7em;
}
.inner-5 > div h3{
	font-size: 1.7em;
}

#column2-input1{
	position: absolute;
	top: 200px;
	left: 424px;
	padding: 10px;
	background-color: #00a9eb;
    color: white;
    height: 40px;
    line-height: 5px;

    display: block;
  	text-transform: uppercase;
    width: 235px;
    border-radius: 3px;
    margin: 20px 0;
}
.inner-6{
	height: 500px;
}
#content2{
	-moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
	transform: rotate(1deg);

}
.col-1, .col-2,.col-3{
	width: 250px;
	height: 250px;
	background-image: url("../images/logo-info.png");
	background-size: 100% 100%;
	float: left;
	-moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
	transform: rotate(0deg);
	margin: 0 0 0 35px;
	padding: 20px 0;
	-ms-behavior: url(js/backgroundsize.min.htc);
}
.col-1 h1,.col-2 h1, .col-3 h1{
	text-align: center;
	color: #00a9eb;
	font-size: 2.4em;
	margin:5px 8px;
}
.col-1 p,.col-2 p, .col-3 p{
	text-align: center;
	color: black;
	font-size: 1.8em;
}
.col-1 input,.col-2 input,.col-3 input{
	margin: 3px 36px;
	width: 183px;
	color: white;
}
.col-2 img{
	margin: 0px 54px;
}
h5{
	font-size: 0.9em;
	margin: 5px;
	text-align: center;
}
.people{
	margin:20px 0;
}
.people img{
	float: left;
	margin: 0 9px;
}
.people p{
	font-size: 1.2em;
}
.inner-8{
	height: 700px;
}
.wrap-people{
	width: 700px;
	margin: 3px auto;
}
.left{
	margin-left:20px;
}
.people h1{
	font-size: 1.5em;
}

.invisible {
	opacity: 0;
}
.inner-7{
	background-image: url("../images/background3");

	height: 350px;
	width: 100%;
	background-size: 100% 100%;
	background-position: 0 0;
	-moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
	 transform: rotate(0deg);
	 border: none;
}
.inner-7 img{
	width: 103%;
	height: 100%;
	-moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
	transform: rotate(0deg);
}
.inner-9{
	height: 400px;
	border-bottom: 1px solid #00a9eb;
}
.inner-9 img{
	width: 800px;
	display: block;margin: 1px auto;
}
.inner-10{
	height: 400px;
}
.inner-10 .box3{
	background-image: url("../images/triangle-large.png");
  background-position: 21px 18px;
    background-repeat: no-repeat;

    height: 164px;
    margin: 22px 0;
    padding: 9px 0 0;
    width: 331px;
    background-size: 94% 91%;
}
.inner-10 .column1, .inner-9 .column2 {
    margin: 0 49px 0 0;
}
.inner-10 td{
	font-size: 1.1em;
	width: 118px;
}
.blue-font{
color:#00a9eb;
}
.inner-10 .box3 h1{
	color:black;
	text-transform: none;
	font-size: 1.5em;
}
.inner-11{
	height: 200px;
	padding: 40px 0;
}
.middle{
	float: left;
	width: 312px;
}
.middle h2{
	text-transform: uppercase;
}
.inner-11 .content2 >img{
	margin: 0 92px 0 203px;
	float: left;
}
.social{
	width: 200px;
	float: left;
}
.social li{
	display: inline-block;
	float: left;
	width: 23px;
}
.inner-11 a{
	text-decoration: none;
	color:#00a9eb;
}
a.active-link{
	background-color: #eb9b00;
}












