body{
	background-image: url("../images/big/body-background.jpg");
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: 'Source Sans Pro',sans-serif;
}

a{
	text-decoration: none;
}
.clearfix{
	clear:both;
}

.navigation{
	height: 95px;
	width: 100%;
	background-image: url("../images/big/red.png");
	background-repeat: repeat;
	margin:0;
	border-top: 5px solid #610a00;
}

.nav {
	font-style: italic;
	color: #efb727;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 2% 2.4% 0.6% 23%;
	font-size: 1.5em;
	float: left;
}

.navigation span{
	text-decoration: line-through;
	color: #5d0900;
}

.navigation-button{

	background: none repeat scroll 0 0 #e6ac24;
    border-radius: 3px;
    float: left;
    height: 31px;
    padding: 0 0 10px;
    width: 246px;
    margin: 1.6% 0.6%;
    border-color: rgba(150,12,0,0.2);
    border-width: 3px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.top-button {
	text-decoration: none;
	color: #a30e0d;
	margin: 6px 41px;
	color: #a30e0d;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	display: inline-block;

}

.navigation-button:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top: 1px solid white;
}

.caret{
	vertical-align: middle;
}

.content1{
	height: 610px;
	width: 100%;
	background-color: #fef4ef;
	background-image: url("../images/big/berries2.png");
	background-repeat: repeat-x;
	border-bottom: 20px solid #efdcd2;

}

.content2{
	height: 657px;
	width: 100%;
	background-image: url("../images/big/background-red.png");
	background-size: 100% 100%;
}

.content_absolute1{
	width: 81%;
	height: 640px;
	position: absolute;
	top: 236px;
	left: 10.9%;
	background-color: #fdfdfd;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	box-shadow: 0 0 8px -3px rgba(0, 0, 0, 0.5);
}

.content_absolute1 .berry1{
	position: absolute;
	left: -51px;
}

.content_absolute1:before{
	box-shadow: 0 74px 13px 5px rgba(0, 0, 0, 0.5);
    content: "";
    margin: 0;
    position: absolute;
    top: 579px;
    width: 95%;

}

.description{
	width: 81%;
	height: 394px;
	background-image: url('../images/big/semi-transparent1.png');
	background-size: 100% 100%;
	margin: 197px 7.9% 0 10.9%;
	display: inline-block;
}

.description .tea-pot{
	width: 47%;
	float: left;
}

.content_absolute1 .girl{
	position: absolute;
	left: -8px;
	bottom: 0;
}

.text{
	width: 55.6%;
	margin: 65px 0 0 408px;
	height: 380px;
}

.text img{
	width: 88%;
}

.text p{
	color: #610a00;

	font-size: 1.2em;
	margin: 21px 9% 0 0;
	text-align: center;
}

.text h2{
	color: #ec8109;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-style: italic;
	margin: 49px 0 0 11%;
	font-size: 1.6em;
}

.text h3{

	text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	background-image:url('../images/big/button.png');
	height: 46px;
	width: 226px;
	padding: 22px 0 0 73px;
	margin: 62px 0 0 19%;
	font-size: 1.4em;

}
.text h3 a{
	text-decoration: none;
	color:#ffffff;
}

.text .promote{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color:90483f;
	font-size: 1em;
	font-style: italic;
	margin: 15px 21%;
	text-align: left;
}

.benefit{
	float: left;
	width: 48.9%;
	height: 325px;

}

.benefit h2{
	font-family: 'Source Sans Pro', sans-serif;
	font-style: italic;
	font-weight: 600;
	font-size: 2em;
	color:#fbb512;
	margin: 15px 0;
}

.benefit-container1,.benefit-container2{
	float: left;

}

.benefit-container1 ul,.benefit-container2 ul{
	padding: 0;
	margin: 14px 19px 0 0;

}


.benefit-list1 li, .benefit-list2 li{
	list-style-type: none;
	font-family: 'Source Sans Pro', sans-serif;
	content: #ffffff;
	font-size: 1em;
	color:#fee8b6;
}

.benefit-list1 span, .benefit-list2 span{
	vertical-align: top;
	margin-left: 4px;

}


.benefit-container3 {
	clear: both;
	width: 90%;
	height:110px;
	margin: 0;
	padding: 6px 0;
	font-style: italic;
	font-family: 'Source Sans Pro', sans-serif;
	color: #ffffff;
	font-size: 0.9em;

}

.benefit-container3 .benefit-efect {
	border-top: 1px solid #780900;
	font-weight: bold;
	font-size: 1.4em;
	padding: 18px 0 0;

}

.nutrition{
	width: 81%;
	height: 563px;
	margin: 80px 10.9%;
	border: 15px solid #ffffff;
	box-sizing:border-box;
	background-image: url('../images/big/white-background.png');
	position: relative;

}

.organic{
	position: absolute;
	width: 18%;
	left: -37px;
	top: -53px;
	min-width: 100px;
}

.nutrition-text{
	margin: 76px 0 0 51px;
	width: 48%;
	height: 459px;
	color: #08153a;
	font-size:1em;
	text-align: right;
	float: left;
}

.nutrition-text p{
	color: #08153a;
}

.nutrition-text img{
	width: 86%;
	margin: 0 38px 0 0;
}

.doctor{
	width: 46%;
	float: left;
}

.spoon{
	position: absolute;
	left: 4px;
	top: 59%;
	width: 32%;
}

#ivanov{
	width: 34%;
	margin: 58px 0 0;
}

.nutrition-text-bold{
	font-weight: bold;
	font-size: 1.2em;
	margin: 5px 0 0px;
}

.italic{
	font-style: italic;
	margin: 0;
}

.order{
	width: 81%;
	height: 163px;
	margin: 80px 10.9%;
	background-image: url('../images/big/yellow-background.png');

}

.order-text{
	color:#8f0b00;
	font-style: italic;
	font-size: 1.1em;
	text-shadow:1px 1px #ffffff;
	padding: 42px 3.4% 0;
	float: left;
}

.order-text-bold{
	font-size: 1.4em;
	font-weight: bold;
}

.order-text p{
	margin:3px 3.4% 0;
}

.button2{
	float: left;
	width: 247px;
	height: 57px;
	background-image:url('../images/big/button.png');

	margin: 48px 0;
	box-shadow: 0px 0px 0px 5px rgba(97,10,0,0.9);
	border-radius: 3px;
}

.order img{
	position: absolute;
	width: 32%;
}

.button2 a{
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
	text-decoration: none;
	padding: 0 19%;
}

.position{
	top:100px 0;
}

.pockets{
	width: 81%;
	margin: 80px 10.9%;

	position: relative;
}

.order2{
	margin: 0 9.4% 40px;
	width: 81%;
}

.pocket1,.pocket2, .pocket3{
	float:left;
	position: relative;
}

.pocket1{
	width:33%;
	margin: 0 -24px;
	z-index: 30;
}

.pocket2{
	width: 40%;

	margin: 0 -24px;
	z-index: 50;
}
.pocket3{



    width: 33%;
}
.pocket1 img, .pocket2 img, .pocket3 img{
	max-width: 90%
}
.button3{
    margin: 4px auto 1%;
    width: 170px;
}
#button2{
	 margin: 4px auto 1%;
    width: 170px;
}
.pocket1 a, .pocket2 a, .pocket3 a{
	background-image: url("../images/big/button.png");
    background-size: 100% 100%;
    box-sizing: border-box;
    color: white;
    display: block;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: bold;
    padding: 3% 21%;
    text-shadow: 1px 1px gray;
    text-transform: uppercase;
    width: 149px;
}

.pocket1 p, .pocket2 p, .pocket3 p{
	vertical-align: middle;
}

.fruits,.tomats{
	position: absolute;
	width: 30%;
}

.fruits{
	bottom: 49px;
	right: -30px;

}

.tomats{
	bottom: 49px;
    left: -93px;

}

.order3{
	width: 81%;
	margin: 80px 10.9%;
	/*height: 770px;*/
	position: relative;
	background-image: url('../images/big/white2-background.png');
	box-sizing:border-box;
	border: 15px solid white;
	background-size: 100% 100%;
}

.seeds{
	width: 100%;
}

.order3-text{
	margin: 13px 10.5%;
}

.order3-text .slab{
	width: 70%;
	margin: 0 22% 34px;
}

.order3-text p{
	text-align: center;
	color: #7a1a08;
	font-size: 1.6em;
	font-family: "Times New Roman";
}

.order3-text a{
	background-image: url("../images/big/button-comand.png");
    background-size: 100% 100%;
    border-radius: 3px;
    color: white;
    display: block;
    font-size: 1.8em;
    height: 51px;
    margin: 88px auto;
    padding: 13px 33px 8px 66px;
    text-transform: uppercase;
    width: 200px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}
#arrow{
	margin: 3px 0;
    vertical-align: bottom;
    width: 18%;
}

.order4{
	width: 81%;
	margin: 80px 10.9%;
	height: 730px;
	position: relative;
	background-image: url('../images/big/rose-background.png');
	box-sizing:border-box;
}

.order-box1, .order-box2{
	float: left;
	width: 50%;
	height: 100%;
}

.prom1, .prom2, .prom3{
	width: 90%;
}

.prom1{
	height: 80px;
	margin: 40px auto 0;
}

.prom1 img{
	width: 80%;
}

.prom2 img{
	width: 60%;
	margin: 0 14%;
}

.prom3{
	border-radius: 3px;
	background-image: url('../images/big/dotted.png');
	background-size: 100% 100%;
	width: 58%;
	height: 100px;
	margin: 24px 13%;
}

.prom-box1, .prom-box2{
	float: left;
}

.prom-box1{

	margin: 0 0 0 6%;
}

.prom3 p{
	font-style: italic;
	color: #d32332;
	margin: 9px 1%;
	font-size: 1.4em;
}

.prom3 span{
	text-decoration: line-through;
}

.prom3 i{
	font-weight: bolder;
	font-size: 1.5em;
	font-style: normal;
	font-family: 'Ubuntu', sans-serif;
}

.prom-box2{
	background-image: url("../images/big/reb-box.png");
    background-size: 100% 100%;
    height: 69px;
    margin: 10px 5px;
    width: 26%;
}

.prom-box2 p{
	font-weight: bold;
	font-size: 2em;
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
	color: white;
	text-align: center;
	margin: 14px 0 0;

}

.order-box2-inside{
	background-image: url("../images/big/brown-image.png");
    height: 73%;
    margin: 85px 12px 0 32px ;
    width: 77%;
    background-size: 100% 100%;
}

#select {



	background-image: url('../images/big/semi-transparent.png');
	background-size: 93% 100%;
	/*background-image:  no-repeat;*/



	border: 0;
	width: 99%;
}


#select option{
	padding:10px;

}

.select-class{
	width: 66%;
	padding: 149px 10%;
	overflow: hidden;
}

#order-form input{
	padding: 8px;
    width: 92%;
    margin: 10px 0;
   box-shadow: inset 0px 2px 2px 0 #F5F5F5;
    border: 1px solid #cccccc;

}

#order-form{
	width: 124%;
}

.form-text span{
	font-weight: bold;
}

.form-text{
	color:#2e2e2e;
	font-style: 'Open Sans', serif;
	font-size: 1em;
	margin: 15px 0 38px;
	width: 120%;
}

.form-order{
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	background-image:url('../images/big/button-red.png');
	padding: 5% 44%;
	font-family: 'Source Sans Pro', sans-serif;
}

#form-image1, #form-image2, #form-image3{
	position: absolute;
}

#form-image1{
	width: 16%;
	top: 57px;
    right: 15px;
}

#form-image2{
	left: -91px;
    bottom: -11px;
}

#form-image3{
	width: 26%;
    bottom: -21px;
    right: -60px;
}

.bottom{
	color: #b66926;
	margin:20px 13%;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	width: 76%;
	font-size: 0.9em;

}

#girl-top{
	display: none;
}

.slab-sl{
	display: none;
}

#DateCountdown {
	width: 60%;
	height: 12%;
	padding: 0px;
	box-sizing: border-box;
	background-color: #E0E8EF;
	margin: 24px 13%;
}


@media only screen and (max-width:1100px) {
	.text{
		width: 49.6%;
	}

	.text p{
		width: 61%;
	}

	.text img {
    	width: 58%;
	}

	.text h2{
		width: 68%;
		text-align: center;
		font-size: 1.2em;
		margin: 27px 0px 0 0%;
	}

	.text h3{
		font-size: 1.2em;
		height: 35px;
		margin: 17px 0 0 9%;
    	padding: 2% 0 0 6%;
    	width: 163px;
    	background-size: 100% 100%;
	}

	.text .promote{
		text-align: -moz-right;
		margin: 0;
	}

	.content2{
		height: 776px;
	}

	.description{
		height: 526px;
	}

	.doctor{
		width: 42%;
	}

	.order img{

    	right: 17px;
	}

	.pocket1{
		height: 489px;
	}

	.pocket2{
		height: 54%;
	}

	.pocket3{
		height:47%;
	}

	.button3{

	}

	#button2{

	}

	.prom3{
		width: 75%;
	}

	.prom-box2{
		height: 63%;
		width: 21%;
	}

	#DateCountdown {
		width: 50%;
		height: 10%;
	}

	.fruits {
	    bottom: 49px;
	    right: 5%;
	}

	.tomats {
	    bottom: 17px;
	    left: 1%;
	}


}

@media only screen and (max-width:980px) {

	.pockets {
	    height: 1100px;
	    margin: 80px 5.9%;
	    position: relative;
	    width: 99%;
	}

	.order4{
		height: 556px;

	}

	.select-class {
	    padding: 111px 10%;
	}

	#order-form input {
		margin: 0;
	}

	.form-text {
	    margin: 5px 0 17px;
	}

	.pockets {
    	height: 824px;
    }

    #button2 {

    }

    .pocket3{
		height:60%;
	}

	.order3-text a{
		margin: 58px auto;
		padding: 3% 3% 0 3%;
	}



}

@media only screen and (max-width:780px) {
	.navigation-button{
		clear:both;
		float: none;
		margin: 1.6% auto;
	}

	.nav{
		text-align: center;
		margin: 0;
		float: none;
	}

	.text img {
    width: 90%;
    margin: 0 9%;
	}

	.text{
		margin: 65px auto;
    	width: 90%;
	}

	.content_absolute1 .berry1, .content_absolute1 .girl {
		display: none;
	}

	.text p{
		margin: 21px 6% 0 6%;
    	text-align: center;
    	width: 90%;
	}

	.text h2 {
	    font-size: 1.4em;
	    margin: 27px 0 0 0;
	    width: 99%;
	}

	.text h3{
		margin: 17px auto;
	}

	.text .promote{
		margin: 15px auto;
    	text-align: center;
	}

	#girl-top{
		display: inherit;
    	width: 85%;
	}

	.content_absolute1 {
		height: 896px;
	}



	.content_absolute1:before {
		display: none;
	}

	.content1{
		height: 869px;
	}

	.benefit {
	    float: none;
	    height: 325px;
	    width: 68.9%;
	    margin: 0 auto;
	}
	.description .tea-pot {
	    float: left;
	    margin: 0 9%;
	    width: 77%;
	}

	.content2 {
    	height: 1003px;
	}

	.description {
   		height: 805px;
   		margin: 197px 7.9% 0 10.9%;
	}

	.nutrition{
		height: 836px;
	}

	.nutrition-text {
		width: 81%;
		margin: 76px 0 0 6%;
		height: 381px;
	}

	.nutrition-text img {
	    width: 100%;
	}

	#ivanov {
	    margin: 18px 0 0;
	}

	.doctor {
	    width: 50%;
	    min-width: 291px;
	    float: right;
	}

	.order{
		height: 281px;
		background-size: 100% 100%;
	}

	.order-text {
	    margin: 0 auto;
	    padding: 23px 0.4% 0;
	    width: 90%;
	    float: none;
	}

	.order-text p {
	    margin: 3px auto 0;
	    width: 65%;
    	text-align: center;
	}

	.button2{
		float: none;
		margin: 28px auto 10px;
		height: 57px;
		width: 247px;
	}

	.order img {
	    min-width: 250px;
	    position: absolute;
	    right: 4px;
	    width: 55%;
	    z-index: 100;
	}

	.order4 {
	    height: 1120px;
	    background-size: 100% 100%;
	}

	.order-box1, .order-box2 {
		width: 90%;
		float: none;
		margin: 0px 12%;
		height: 50%;
		padding: 5px 0;
	}

	.prom3{
		margin: 23px 6%;
	}

	.pockets {
		margin: 80px 7.9%;
		width: 94%;
	}

	#DateCountdown {
		width: 45%;
		height: 8%;
	}








}


@media only screen and (max-width:600px) {
	.pockets {
	    height: 1500px;
	    margin: 80px auto;
	    position: relative;
	    width: 77%;
	}


	.pocket2 {
	    float: none;
	    height: 450px;
	    margin: 0 auto;
	    width: 67%;
	}

	.pocket3 {
	    float: none;
	    height: 450px;
	    margin: 0 auto;
	    width: 67%;
	    z-index: 100;
	}
	.pocket1 {
	    float: none;
	    height: 450px;
	    margin: 0 auto;
	    width: 67%;
	}


	.button3{
		margin: 0;
		left: 26%;
	    position: absolute;
	    top: 323px;
	}

	#button2 {
	    margin: 0;
	}

	.slab-sl{
		display: block;
		width: 100%;
	}

	.order3-text .slab {
		display: none;
	}

	.order3-text p {
		font-size: 1.3em;
	}

	.order3-text a{
		padding: 13px 14px 8px 23px;
		margin: 58px auto;
	}
	.order3{
		/*height: 988px;*/
	}
	.prom3 p {
		font-size: 1.1em;
	}

	.order-box2, .order-box1 {
	    margin: 0 auto;
	    width: 90%;
	}

	#form-image3 {
		right: -13px;
	}

	.order4{
		width: 100%;
		margin: 80px 0 0;
	}

	.order-box2-inside{
		margin: 85px auto;
   		width: 88%;
	}


	#form-image1 {
		display: none;
	}

	.order-box1 {
		height: 40%;
	}

	.prom1 img {
	    width: 100%;
	}

	.prom2 img {
	    margin: 0 21%;
	}

	.prom3 {
    	margin: 23px 10%;
}

	.order3 {
	    /*height: 1132px;*/
	}

	.list {
	    position: absolute;
	    right: -26px;
	    top: -55px;
	    width: 21%;
	    z-index: 100;
	    min-width: 74px;
	}

	.fruits {
	    bottom: 22px;
	    right: 16px;
	    min-width: 141px;
	}

	.tomats {
	    bottom: -16px;
	    left: 7px;
	    min-width: 127px;
	}

	#select{
		width: 102%;
	}

	.description{
		margin: 146px 7.9% 0 0;
		width: 97%;
	}

	.pocket1 a, .pocket2 a, .pocket3 a {
	    margin: 0 18%;
	}

	.form-order {
	    padding: 5% 32%;

	}

}




@media only screen and (max-width:380px) {

	.content_absolute1 {
    	height: 774px;
	}

	.content1{
		height: 738px;
	}

	.content2 {
    	height: 1103px;
	}

	.description {
   		height: 900px;
	}

	.benefit-container3 p{
		width: 140%;
		text-align: left;
	}

	.spoon{
		min-width: 203px;
	    top: 58%;
	    width: 50%;
	}

	.nutrition{
		height: 1000px;
	}

	.doctor {
	    margin: 239px 0 0;
	    min-width: 229px;
	    width: 50%;
	}

	.order{
		margin: 80px 2.9%;
		width: 95%;
	}

	.pockets {
		width: 100%;
	}

	.pocket1, .pocket2, .pocket3{
		width: 80%;
	}

	.order3{
		width: 100%;
		/*height: 996px;*/
		margin: 0;
	}

	.navigation{
		height: 117px;
		background-size: 100% 100%;
	}

	.order3-text a {
	    margin: 58px auto;
	    padding: 13px 0px 1px 11px;
	}


	#form-image3 {
	    bottom: 26px;
	    right: 0px;
	    width: 62%;
	}

	.bottom{
		margin: 20px auto;
		width: 85%;
	}

	#nr{
		width: 60%;
	}

	#DateCountdown {
		width: 35%;
		height: 6%;
		margin: 24px 0%;
	}
}






